<!DOCTYPE html>
<html>
<head>
  <title>ConArtist</title>
  <%= stylesheet_link_tag    "con_artist/application", media: "all" %>
  <%= javascript_include_tag "con_artist/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
